.trackmap-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trackmap-inner {
  height: 100%;
  width: 100%;
  visibility: hidden;
}
.trackmap-last-tooltip {
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
}

.trackmap-history-tooltip {
  font-size: 11px;
  line-height: 1.3;
  white-space: nowrap;
}
